<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://kit.fontawesome.com/7b09a46f67.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
    <title></title>
  </head>
  <body>

    <div id="root">

      <div class="container">

        <h1>To Do list</h1>

        <input v-on:keyup.enter="addActivity(element)" type="text" name="" v-model="element" value="" placeholder="Attività">

        <button type="button" name="button" @click="addActivity(element)" >Inserisci attività</button>


        <ul>

          <li v-for="(activity, index) in todos" @click="remove(index)">

            {{activity}}

          </li>

        </ul>
      </div>


    </div>




    <script src="main.js" charset="utf-8"></script>
  </body>
</html>
